<div class="card-header">
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Expedientes</mat-card-title>
      <mat-card-subtitle>Activos y Archivados</mat-card-subtitle>
    </mat-card-header>
    <div >
      <div class="btn-bg Pokemon">
        <div class="btn-group"> 
          <div class="btn ball">
            <button  routerLink="/" placement="top" ngbTooltip="Volver al inicio. ">
              <div class="pokemon-ball"></div><a>Regresar<span data-letters="¡con el corazón!"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
   <!--  <h2>Esta sección es creada de forma informativa, por lo cual, revise los expedientes al cual le desea hacer
      autogestión, para realizar la autogestión de un expediente por favor volver al menú principal. Y seleccionar
      realizar autogestión.</h2> -->
  </mat-card>
</div>

<div class="margen-expedientes-realizados">
  <div class="container-main" (window:resize)="responsive($event)">
    <table class="table table-striped table-hover">
      <thead class="">
      <tr>
        <th scope="col"><h1>Código expediente</h1></th>
        <th scope="col">Nombre del asunto</th>
        <th scope="col">Admite autogestión</th>
        <th scope="col">Motivo no admite</th>
        <th scope="col">Última autogestión</th>
        <th scope="col">Estado</th>
      </tr>
      </thead>
      <tbody *ngIf="!isLoading">
      <tr *ngFor="let lista of listaExpediente | slice: (page-1) * pageSize : page * pageSize; let i = index">
       
        <td>{{lista.expediente}}</td>
        <td>
          {{lista.nombre_asunto}}
        </td>
        <td *ngIf="lista.admite_autogestion === 'N'">No</td>
        <td *ngIf="lista.admite_autogestion === 'S'">Si</td>
        <td>{{lista.motivo_no_admite}}</td>
        <td>{{lista.ultima_autogestion }}</td>
        <td *ngIf="lista.exp_estado === 'Activo'"><span>{{lista.exp_estado}}</span></td>
        <td *ngIf="lista.exp_estado === 'Archivado'"><span >{{lista.exp_estado}}</span></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="isLoading" class="load">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
        <div class="msjCargando">
            Cargando Expedientes...
        </div>
    </div>
    
      <ngb-pagination  [(page)]="page" [pageSize]="pageSize" [collectionSize]="listaExpediente.length"  [boundaryLinks]="true">

        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label
                    id="paginationInputLabel"
                    for="paginationInput"
                    class="col-form-label mr-2 ml-1"
                >Page</label>
                <input #i
                    type="text"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    class="form-control custom-pages-input"
                    id="paginationInput"
                    [value]="page"
                    (keyup.enter)="selectPage(i.value)"
                    (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription"
                    style="width: 2.5rem"
                />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                    of {{pages.length}}</span>
              </div>
          </li>
      </ng-template>
      </ngb-pagination>  
    
   </div>

</div>
<!-- listaExpediente.length -->