

th {
  font-size: 19px;
}

td {
  line-height: 20px;
} 

td {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
}

.table {
      background-color: #ffffffe5;
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgb(32 211 92 / 53%);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #080808;
    --bs-table-hover-bg: rgb(181 206 60 / 75%);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    margin: 40px 10px 1px 10px;
}

.spinner-border {
  float: left;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - -13px);
}

.msjCargando {
  margin-left: 541px;
  margin-top: 150px;
}

p {
  margin-top: 20px;
}

.ngb-pagination {
  margin-left: 5px;
}

.sr-only {
  display: none
}
.margen-expedientes-realizados{
  margin-left: 200px;
  margin-right: 200px;
}

.mat-card{
  background-color: #ffffffea;
  margin: 15px 8px 1px -155px;
  width: 950px;
}
.mat-card-header .mat-card-title {
  /* margin-bottom: 12px; */
  margin: 50px 10px 10px 90px;
  font-size: 2.5em;
}
.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -8px;
  margin: 20px 90px;
  font-size: 1.5em;
}

.card-header{
  height: 200px;
  width: 1200px;
  margin-left: 350px;
}

.mat-card-avatar {
    height: 150px;
    width: 350px;
    border-radius: 0%;
    flex-shrink: 0;
    object-fit: cover;
}

.example-header-image {
  background-image: url('../../../../assets/img/corazon.png');
  background-size: cover;
}
//Botón con mensaje
.btn-bg.Pokemon .btn-group .ball button {
  border: 2px solid #ffc107;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
}
 .btn-bg.Pokemon .btn-group .ball button:hover {
  border-color: #ffd740;
}
 .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::before {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
 .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::after {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
 .btn-bg.Pokemon .btn-group .ball button:hover a {
  transition: none;
  color: transparent;
  z-index: 999;
}
 .btn-bg.Pokemon .btn-group .ball button:hover a::before {
  transform: translate3d(100%, 0, 0);
}
 .btn-bg.Pokemon .btn-group .ball button:hover a span:first-child::before,
 .btn-bg.Pokemon .btn-group .ball button:hover a span:nth-child(2)::before {
  transition-delay: 0.3s;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  background-color: #1f9ad7;
  width: 150px;
  margin: 0px 1px 1px -35px;
}
 .btn-bg.Pokemon .btn-group .ball button .pokemon-ball {
  position: absolute;
  content: 'Go!';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
 .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::before,
 .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(0, 155, 221);
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
 .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  top: 50%;
  background: rgb(230, 241, 3);
}
 .btn-bg.Pokemon .btn-group .ball button a {
  color: #fbfdfa;
    font-weight: 1000;
    font-size: 0.9em;
    transition: color 0.5s 0.25s;
    /* overflow: hidden; */
    display: inline-block;
    position: relative;
    z-index: 999;
    margin-left: 12px;
    margin-bottom: 23px;
}
 .btn-bg.Pokemon .btn-group .ball button a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  //background: #50514f;
  top: calc(50% - 2.5px);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate3d(-100%, 0, 0);
}
 .btn-bg.Pokemon .btn-group .ball button a span {
   /* position: absolute; */
   height: 100%;
   /* width: 1800px; */
   top: 0;
   left: 0;
   overflow: hidden;
}
 .btn-bg.Pokemon .btn-group .ball button a span::before {
  position: absolute;
  content: attr(data-letters);
  left: 0;
  width: 100%;
  color: #fff;
  transition: transform 0.5s;
}
 .btn-bg.Pokemon .btn-group .ball button a span:first-child::before {
  top: 0;
  color: #faf6f6;
  transform: translate3d(0, 100%, 0);
}
 .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2) {
  top: 50%;
}
 .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2)::before {
  bottom: 0;
  transform: translate3d(0, -100%, 0);
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.btn {
  margin: -105px 10px 2px 1110px;
  display: block;
}
.btn-info {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3.5em;
  color: #fff;
}
.btn-mention {
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: 0.1em;
  font-size: 1.1em;
  color: #fff;
}
.btn-mention span {
  font-size: 1.2em;
  font-weight: 600;
}
button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  /* color: #fff; */
  position: relative;
  letter-spacing: 0.1em;
  /* font-weight: 100; */
  /* padding: 1rem 3rem 1rem 3rem; */
  text-transform: uppercase;
  font-family: "Lato";
  /* font-size: 1em; */
  width: 120px;
  height: 50px;
  margin: 0px 10px 10px -600px;
}
button a {
  text-decoration: none;
}
@-moz-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-o-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}

.col-form-label {
  padding-top: calc(0.375rem+ 1px);
  padding-bottom: calc(0.375rem+ 1px);
  /* margin-bottom: 0; */
  margin: 1px 5px 1px 5px;
  width: 50px;
  font-size: inherit;
  line-height: 1.5;
  background: yellow;
}
