<app-navbar></app-navbar>
<div class="row registro">
  <div class="col-md-4 col-sm-12 col-12"></div>
  <div class="col-md-4 col-sm-12 col-12">
    <h1 class="titulo-ingresar">Registrarse</h1>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cedula</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Constraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Constraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Constraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Constraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordar el usuario</label>
      </div>


      <div class="input-group">
        <button type="submit" aria-label="First name" class="btn btn-primary form-control">Registrar</button>
        <a type="submit" aria-label="Last name" class=" form-control yatienes" routerLink="../login">¿Ya tienes
          cuenta?</a>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-sm-12 col-12"></div>
</div>
