.spinner-border {
  margin: 0px auto;
  text-align: center;
  margin-left: 300px;
  position: absolute;
  margin-top: 100px;
}

.table {
  max-width: 921px;
  margin-left: 200px;
}
u{
  text-decoration: underline;
  text-decoration-color: #63acf0;

}
#color-underline-text{
  color:#63acf0;
}