/* .mat-card-confirmacion-envio {
  border-left: 5px solid #007bff;
  box-shadow: 5px 6px 4px #ccc;
}

.button-group {
  display: flex;
  gap: 1em;
  margin-top: 25px;
  justify-content: center;
}

.button-group button {
  width: 20%;
}

.salir {
  background-color: #ffed00;
  color: #000
}
 */