
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="mat-card-confirmacion-envio">
        <p>¡Se ha enviado con éxito a nuestros registros!</p>
        <p>Muchas gracias por tu gestión. Se ha enviado con éxito los documentos con radicado N {{radicado}}. Te
          recomendamos estar pendiente del correo electronico registrado para podernos comunicar contigo.</p>
      </mat-card>
    </div>
  </div>
  <div class="button-group">
    <button class="btn btn-warning salir form-control" routerLink="/auth/login">Salir</button>
    <button class="btn btn-success form-control" routerLink="/home">Gestionar otra autegestión</button>
  </div>
</div>
