
mat-card {
  margin-bottom: 20px;
  padding: 0px;
  //height: 600px;
  width: 60%;
  box-shadow: -2px -4px 2px 6px rgb(0 0 0 / 5%), 4px 6px 2px 6px rgb(0 0 0 / 2%), -4px 4px 8px 5px rgb(0 0 0 / 1%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.btns {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.atras3 {
  background-color: #ffed00;
  color: #000;
  left: 300px;
}
a{
  text-decoration: none;
  color: #19bc8b;
}
.obliga-scroll {
  overflow-x: hidden;
}

pdf-viewer {
  display: block;
  height: 80vh;
  margin-top: 10vh;
  width: 10vh;
  margin-left: 5vh;
}
.msjCargando {
  top: 80%;
  left: 50%;
  position: fixed;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 0;
}
/* .btn-right{
 
  margin-left: 1100px;
  margin-top: -38px;
}
.btn-left{
  margin-left: 950px;
    margin-top: 45px;
  
}
.button-group {
  display: flex;
  gap: 1em;
  margin-top: 25px;
  justify-content: center;
}

.button-group button {
  width: 20%;
}
 */
.salir {
  background-color: #ffed00;
  color: #000
}
.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  width: 250px;
  margin-left: 600px;
}


.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-top: 19px;
  margin-left: 122px;
}

// header styles
.header {
 
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  min-height: 75px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  padding: 0 30px;
  display: flex;
}
/*   &__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__filename,
  &__page-indicator,
  &__pdf-controls {
    display: flex;
    width: auto;
  }

  //  filename section
  &__filename {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
  }

  // page indicator section
  &__page-indicator {
    align-items: center;
    justify-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-current {
      font-weight: bold;
    }

    &-separator {
      margin: 0 5px;
    }

    &-total {
      display: flex;
      flex-direction: row;
    }
  }

  // button styles in header
  &__btn {
    padding: 8px 12px;
    margin-left: 112px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    background-color: #fc0829;
    border-color: #ff0000;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: flex;

    // button active and hover states styles
    &:active,
    &:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-left: -950px;
} */
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #ffc107;
  --hover: #1973bc;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}


button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}
.buttons{
  
    font: 300 1em 'Fira Sans', sans-serif;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    display: -webkit-box;
    display: flex;
    margin-left: 850px;
  
}
 h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  /* margin: 0 0 16px; */
  margin-left: 60px;
}