

<div class="primer-formulario-expediente" >
  <mat-card class="mat-elevation-z10"> 
  <div class="primero" placement="left" ngbTooltip="Escoge el expediente al cual realizaras la autogestión" tooltipClass="my-custom-class" >
    <app-modal (optenerExpedienteOut)="obtenerExpediente($event)"></app-modal>
    <div class="btn-bg Pokemon">
      <div class="btn-group"> 
        <div class="btn ball">
          <button  routerLink="/" placement="top" ngbTooltip="Volver al Inicio">
            <div class="pokemon-ball"></div><a>Regresar<span data-letters="¡con el corazón!"></span></a>
          </button>
        </div>
      </div>
    </div>
  </div>
  
<form (ngSubmit)="expedientesData(formulario.value)" [formGroup]="formulario" *ngIf="formulario">
  <div class="row primer-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Expediente :</label>
        <select name="" id=""class="form-control"[formControlName]="'expediente'">
          <option>{{ expediente }}</option>
        </select>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Estado :</label>
        <select name="" id="" class="form-control" [formControlName]="'estado'">
          <option *ngIf="cargoExpediente">
            {{ listaExpediente.exp_estado }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row segundo-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Asunto :</label>
        <select name="" id="" class="form-control" [formControlName]="'asunto'">
          <option *ngIf="cargoExpediente">
            {{ listaExpediente.nombre_asunto }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Usuario registrado :</label>
        <select name="" id=""  class="form-control" [formControlName]="'ter_nombres'" >
          <option *ngIf="cargoExpediente">
            {{ listaExpediente.ter_nombres }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row segundo-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Teléfono :</label>
        <select  name=""  id=""  class="form-control"  [formControlName]="'ter_telefono'" >
          <option *ngIf="cargoExpediente">
            {{ listaExpediente.ter_telefono }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email :</label>
        <select  name=""  id=""  class="form-control"  [formControlName]="'ter_email'"  >
          <option *ngIf="cargoExpediente">
            {{ listaExpediente.ter_email }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row segundo-row"> 
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Dirección :</label>
      <select  name=""  id=""  class="form-control"  [formControlName]="'ter_direccion'" >
        <option *ngIf="cargoExpediente">
          {{ listaExpediente.ter_direccion }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Municipio :</label>
      <select  name=""  id=""   class="form-control"  [formControlName]="'ter_dir_municipio'"  >
        <option *ngIf="cargoExpediente">
          {{ listaExpediente.ter_dir_municipio }}
        </option>
      </select>
    </div>
  </div>
 </div>
  <div id="center-ancla">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  fill="red" class="bi bi-exclamation-triangle"  viewBox="0 0 16 16" >
      <path
        d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
      />
      <path
        d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
      /></svg><a
      href="https://sirena.corantioquia.gov.co/esirena/CtrlRegistroUsuario"
      style="cursor: pointer"
      target="blank"><mark><u>Si requiere <b>Actualizar Datos</b>, haga click aquí.</u></mark></a>
  </div>

  <hr />

  <!-- Lorem ipsum -->
  <div *ngIf="isJuridico" class="row segundo-row">
    <h2>Datos del responsable :</h2>
    <p>
      Estos datos de contacto del usuario responsable, que se ncuentra
      realizando este proceso, para contactarlo en caso de ser necesario.
    </p>
  </div>
  <hr *ngIf="isJuridico" />

  <div *ngIf="isJuridico" class="row segundo-row">
    <div class="col-md-6">
      <div class="form-group">
        <label  for="">Nombre del responsable : </label>
        <input  type="text"  name=""  id=""  class="form-control"  [formControlName]="'nombre_responsable'" placeholder={{recuperar_user?.nombre}} />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email del responsable :</label>
        <input  type="text"  name=""id=""  class="form-control"  [formControlName]="'email_responsable'" placeholder={{recuperar_user?.correo}} />
      </div>
    </div>
  </div>

  <div *ngIf="isJuridico" class="row segundo-row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Teléfono del responsable :</label>
        <input  type="number"  name=""  id=""  class="form-control"  [formControlName]="'celular_responsable'" placeholder={{recuperar_user?.telefonoCelular}} />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Cargo del responsable :</label>
        <input  type="text"  name=""  id=""  class="form-control"  [formControlName]="'cargo_responsable'" placeholder={{recuperar_user?.cargo}} />
      </div>
    </div>
  </div>

  <div class="row segundo-row">
    <div class="inpp" *ngIf="!isArchivado">
      <input
        (click)="alertcheck($event)"  type="checkbox"  id=""  formControlName="comunicacion" />
        &nbsp; Al dar o haber dado clic en la casilla, estarás o estuviste de acuerdo en recibir información a través de correo electrónico y apruebas ser contactado por este medio.
    </div>
  </div>

  <div class="row button-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isArchivado || !cargoExpediente || formulario.invalid"
      (click)="siguienteListaEx(expediente)">
      Siguiente
    </button>
    <br />
    </div>
    <br />
    <br />
  </form>
  </mat-card>
 </div>
