<app-navbar></app-navbar>
<div class="row login">
  <div class="col-md-4 col-sm-12 col-12"></div>
  <div class="col-md-4 col-sm-12 col-12 secuencia">
    <h1 class="titulo-ingresar">Ingresar información de la secuencia :</h1>

    <form [formGroup]="formulario" (ngSubmit)="cargarSecuencia(formulario.value)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Secuencia</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="secuencia">
      </div>


      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordar la secuencia</label>
      </div>

      <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
      <p *ngIf="loading" class="info-spinner">En progreso...</p>
      <div class="input-group">
        <button type="submit" aria-label="First name" [disabled]="formulario.invalid"
                class="btn btn-success form-control">Ingresar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-sm-12 col-12"></div>
</div>
