<div class="row"  placement="left" ngbTooltip="Escoge el expediente al cual realizaras la autogestión" tooltipClass="my-custom-class">
  <div class="modal-header">
    <h1>Consultar Expediente</h1>
  </div>
 <!--  <div class="search-expedient">
    <h1>Tipo</h1>
    <select [(ngModel)]="selectedBook">
      <option *ngFor="let lista of listaExpedientes"  [ngValue]="lista.expediente">{{lista.nombre_asunto}}</option>
    </select>
  </div> -->
  <div class="modal-body">
    <select name="" id="" class="form-control" #expedientes (change)="optenerExpediente(expedientes.value)"  placement="left" ngbTooltip="Escoge el expediente al cual realizaras la autogestión" tooltipClass="my-custom-class"> 
      <option value="">Seleccione un expediente</option>
      <thead>
        <tr>
         <th *ngFor="let column of displayedColumns" (click)= "sortByCol(column)">{{column}}</th>
        </tr>
     </thead>
      <option *ngFor="let lista of listaExpedientes | pipeOrder:'nombre_asunto' " [value]="lista.expediente">{{lista.expediente}}
        - {{lista.nombre_asunto }} - {{lista.exp_estado}}</option>
        
    </select>
  
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
