.bi-trash {
  margin-left: 10px;
}

svg {
  cursor: pointer;
}

.table {
  max-width: 621px;
}

.botonesSA {
  display: flex;
  gap: 1em;
  width: 40%;
  margin-top: 20px;
}

.spinner-border span {
  margin-left: 100px;
}
