<div class="main-table">
  <h1>Tabla de obligaciones</h1>
  <table class="table table-obligaciones">
    <thead>
    <tr>
      <th>Line</th>
      <th>Nombre obligación</th>
      <th>Fecha creación</th>
      <th>Observación</th>
      <th>Expediente</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody *ngIf="obligaciones.length >= 1">
    <tr *ngFor="let obligacion of obligaciones; let i = index">
      <td>{{obligacion}}</td>
      <td>{{obligacion.nombre_obligacion}}</td>
      <td>{{obligacion.fecha_creacion | date: "dd-MM-YYYY"}}</td>
      <td>{{obligacion.observaciones}}</td>
      <td>{{obligacion.expediente}}</td>
      <td>
        <a title="Actualizar Obligación">
          <svg (click)="actualizarObligacion(modalActualizarObligacion, obligacion)" xmlns="http://www.w3.org/2000/svg"
               width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
        </a>
        <a title="Eliminar Obligación">
          <svg  xmlns="http://www.w3.org/2000/svg" width="16"
               height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </a>
      </td>
    </tr>


    </tbody>
  </table>
  <div class="div-notados" *ngIf="obligaciones.length < 1 ">
    <h3>No hay datos</h3>
  </div>
  <!-- <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only"></span>
  </div> -->
</div>

<ng-template #modalActualizarObligacion>
  <mat-dialog-content class="mat-typography">
    <h1>Actualizar Obligación</h1>
    <div class="form-group">
      <label for="Expedientes">Expediente</label>
      <h2>{{expediente}}</h2>
    </div>
    <div class="form-group">
      <label for="nombre_obligacion">Nombre Obligacion</label>
      <input type="text" class="form-control" [(ngModel)]="nombreObligaciones">
    </div>
    <div class="form-group">
      <label for="Observaciones">Observaciones</label>
      <textarea name="" id="" cols="30" rows="10" class="form-control" [(ngModel)]="observaciones"></textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button class="btn btn-warning form-control" (click)="ActualizarObligacion()">Actualizar</button>
  </mat-dialog-actions>
</ng-template>
