.spinner-border {
  margin: 0px auto;
  text-align: center;
  margin-left: 300px;
  position: absolute;
  margin-top: 100px;
}

.table {
  max-width: 821px;
  margin-left: 300px;
}

.bi-trash {
  margin-left: 10px;
}

svg {
  cursor: pointer;
}
