<div >
  <h1>Tabla de archivos</h1>
  <table class="table table-responsive-xl">
    <thead>
    <tr > 
      <th>#</th>
      <th>Nombre del archivo</th>
      <th>Fecha de creacion del archivo</th>
      <th>Nombre obligación</th>
      <th>Descripción obligación</th>
      <th>Resolucion</th>
      <th>Fecha Ingreso Archivo</th>
      <th>Coordenada X</th>
      <th>Coordenada Y</th>
      <th></th>
      <th>Eliminar</th>
      <th>Editar</th>
    </tr>
    </thead>
  <tbody *ngIf="archivos.length >= 1">
    <tr *ngFor="let archivo of archivos ; let i = index ">
      <td>{{archivo.obligaLinea}}</td>
      <td>{{archivo.archivoNombre}}</td>
      <td>{{archivo.obligaFechaCreacion | date: "dd-MM-YYYY"}}</td>
      <td>{{archivo.obligaDescripcion}}</td>
      <td>{{archivo.obligaObservacion}}</td>
      <td>{{archivo.docSecResol}}</td>
      <td>{{archivo.fechaIngresoArchivo | date: "dd-MM-YYYY"}}</td>
      <td>{{archivo.coorX}}</td>
      <td>{{archivo.coorY}}</td>
      <td></td>
      <td>
        <!--   (click)="consultaObligacion()" -->
        <a title="Eliminar Archivo">
          <svg 
          (click)="eliminarArchivo(archivo.obligaLinea,archivo.niNroArchivo, i)" 
          
          xmlns="http://www.w3.org/2000/svg"
               width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </a>
        <a title="Eliminar Obligacion">
          <svg 
          (click)="eliminarObligacion(archivo.obligaLinea,i)"
          
          xmlns="http://www.w3.org/2000/svg"
               width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </a>
        <br>
        <br>
      </td>
     
      <td>
        <a title="Editar">
          <svg
          
          (click)="actualizarObligacion(modalActualizarObligacion, archivo)"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
            />
          </svg>
        </a>
      </td>
    </tr>

    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    </tbody>
  </table>
  
  <div class="div-notados" *ngIf="archivos.length < 1 ">
    <h3>No hay datos</h3>
  </div>
</div>

<ng-template #modalActualizarObligacion>
  <mat-dialog-content class="mat-typography">
    <h1>Actualizar Obligación</h1>
    <div class="form-group">
      <label for="Expedientes">Expediente</label>
      <h2>{{expediente}}</h2>
    </div>
    <div class="form-group">
      <label for="nombre_obligacion">Nombre Obligacion</label>
      <input type="text" class="form-control" [(ngModel)]="descripcion">
    </div>
    <div class="form-group">
      <label for="Observaciones">Observaciones</label>
      <textarea name="" id="" cols="30" rows="10" class="form-control" [(ngModel)]="observaciones"></textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button class="btn btn-warning form-control" (click)="ActualizarObligacion()">Actualizar</button>
  </mat-dialog-actions>
</ng-template>