
<!-- header part -->
<app-header
  [fileName]="fileName"
  [currentPage]="pageVariable"
  [totalPages]="totalPages"
  [zoomAmt]="zoom"
  [zoomMax]="zoomMax"
  [zoomMin]="zoomMin"
  (setZoom)="setZoom($event)"
  (download)="download()"
  (print)="print()"
></app-header>

<!-- pdf-viewer section -->
<div class="output-pdf-viewer">
  <script src="/src/assets/vfs_fonts.js"></script>
  <script src="/node_modules/pdfmake/build/pdfmake.js"></script>
  <pdf-viewer
    [src]="pdfSrc"
    [(page)]="pageVariable"
    [show-all]="true"
    [stick-to-page]="true"
    [render-text]="true"
    [original-size]="false"
    [fit-to-page]="true"
    [autoresize]="true"
    [show-borders]="true"
   
    [zoom]="zoom"
    (after-load-complete)="afterLoadComplete($event)"
    #pdfViewer
  ></pdf-viewer>
</div>
