a {
    color: #ffc107;
    text-decoration: none ;
  }
  a:hover{
    color: #fdfdfc;
    text-decoration: none ;
  }
  .fill:hover,
  .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  
  .pulse:hover,
  .pulse:focus {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  
  @-webkit-keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  .close:hover,
  .close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
  }
  
  .raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
  }
  
  .up:hover,
  .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
  }
  
  .slide:hover,
  .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }
  
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  
  
  
  button a:hover, button a:focus {
    border-color: var(--hover);
    color: #fff;
  }
  
  
  
  .offset {
    --color: #ffc107;
    --hover: #1973bc;
  }
  
  button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  
  
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: -10px 0px 0px 1200px;
    padding: 1em 2em;
  }
.letter-text-resoluction {
  margin-left: 50px;
  margin-top: 18px;
  margin-bottom: 10px;
}