<br>
<br>
<br>
<div class="col-md-12">
    <div class="tablas">
      <p class="pasos"><b>Paso 3:</b> Estas son  las obligaciones que ha anexado
        en este módulo, por favor, revíselas y actualice de ser necesario.</p>
       <br>
       <br>
      <!-- <div class="col-md-12">
        <app-table-obligaciones></app-table-obligaciones>
      </div> -->
      <div class="col-md-12">
        <app-table-archivos [archivos]="archivos" [isLoading]="isLoading"></app-table-archivos>
      </div>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getDataLocalStorage()">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getDataLocalStorage()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
      <button  class="btn btn-primary" (click)="siguientePrimero()">Siguiente</button>
    </div>
    
  </div>
<!--   <button  class="btn btn-primary" (click)="atrasSegundo()">Regresar</button> -->
  