<mat-dialog-content class="modal-main">

  <mat-card class="mat-card-implementos">
    <swiper [slidesPerView]="3" [spaceBetween]="10" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
            [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
      <ng-template swiperSlide><img src="../../../../assets/img/logo2.png" alt=""></ng-template>
    </swiper>
  </mat-card>
</mat-dialog-content>
