$header-height: 4rem;
$section-height: 500px;
$nav-width: 20%;
$footer-height: 4rem;
$border-radius: .5rem;
$default-spacing: 2rem;
$gray-dark: #121519;
$gray: #a0a0a0;
$gray-light: #F3F3F3;
$indigo: #6C73DC;
$teal: #89CDCE;
$lightblue: #66AEE5;
// ============= GENERAL CSS ==============
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, ol {
  list-style-type:none;
  padding:0;
  margin:0;
}
a {
  text-decoration:none;
  color: #000;
}
p {
  margin:1rem 0;
  font-weight: 100;
  font-size: 25px;
}
// ============= MAIN LAYOUT ==============
::ng-deep .mat-snack-bar-container {
  border-radius: 4px;
    box-sizing: border-box;
    display: block;
    max-width: 33vw;
    min-width: 344px;
    padding: 14px 16px;
    min-height: 48px;
    transform-origin: center;
    margin: -220px 10px 100px 600px!important;
    color: #ffc107;
    background: #32323200; 
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%),
    0px 6px 10px 0px rgb(0 0 0 / 0%), 
    0px 1px 18px 0px rgb(0 0 0 / 0%);
    z-index: 1!important;
    background-attachment: fixed;
}
::ng-deep .mat-snack-bar-container span{
    font-size: 35px;
    font-weight: 550;
    word-spacing: 5pt;
    line-height: 20pt;        /* para la separacion entre lineas */ 
    text-indent: 30pt;  
    background-attachment: fixed;
}
/* ANIMATION KEYFRAMES */

.user_logo{
  margin: 420px 0px 10px 950px;
  z-index: 1000;
  background-attachment: fixed;
 
}
.iframe  {
cursor: pointer;
 z-index: 2000 !important;
 margin: -600px 0px 10px 30px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#contaner {
  position: relative;
  width: 100wh;
  margin-left: 10px;
  background:#f4f4f400;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  z-index: 1;
}
#contaner::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
#menu {
  position: relative;
  float: left;
  width: 100%;
  border-radius: 50px;
  //padding: 10px 30px;
}
#menu,
#menu,
ul {
  list-style: none;
}
#menu>li {
  float: left;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  perspective: 1000px;
}
#menu>li:first-child {
//background:#f4f4f400 url('https://st4.depositphotos.com/24261740/i/600/depositphotos_279130430-stock-photo-vertical-background-of-many-small.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(225, 225, 225, 0.25)
}
#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  line-height: 1;
  font-size: 30px;
 // opacity:0.7;
  background:#f4f4f400 url('https://st4.depositphotos.com/24261740/i/600/depositphotos_279130430-stock-photo-vertical-background-of-many-small.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: white;
}

#menu.li:hover>a {
  text-shadow: none;
}

#menu li ul {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 260px;
  padding: 0;
  opacity: 0;
  background: url('https://st4.depositphotos.com/24261740/i/600/depositphotos_279130430-stock-photo-vertical-background-of-many-small.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}

#menu li:hover ul {
  padding: 5px 0;
  box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(225, 225, 225, 0.18);
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
  animation-name: amir;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes amir {
  0% {
      opacity: 0.99999;
      transform: rotateX(85deg);
  }
  30% {
      transform: rotateX(-30deg) rotateY(5deg);
      animation-timing-function: ease-in-out;
  }
  65% {
      transform: rotateX(20deg) rotateY(-3deg);
      animation-timing-function: ease-in-out;
  }
}
span { background-color: yellow; }