<div id="contaner">
  <ul id="menu">
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href="">Instructivo</a>
      <ul>
        <li>
          <a target="_blank" href="./assets/img/Instructivo.pdf" >​ver instructivo</a>
        </li>
        <li>
         <!--  https://drive.google.com/file/d/1piXVGqjVk_JFJoEkubkFE02vOOa9y9hU/view?usp=sharing -->
          <a
            target="_blank"
            href="https://www.corantioquia.gov.co/Paginas/VerContenido.aspx?List=MenuInferior&item=448"
            >Polìtica de Protección Datos Personales</a
          >
        </li>
        <li></li>
      </ul>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""> Inicio</a>
      <ul>
        <li>
          <a routerLink="autogestiones-realizadas" class="nav__link" >Ver Expedientes</a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a routerLink="lista-expedientes" class="nav__link" >Realizar Autogestión</a>
        </li>
      </ul>
    </li>
    <li>
      <a href=""></a>
    </li>
 
    <li></li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li></li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
 
 
    <li>
      <a
        href="https://sirena.corantioquia.gov.co/lago/CtrlIniciarApp?appCod=TRAMITE&urlRetorno=(https%3A%2F%2Fsirena.corantioquia.gov.co%2Fesirena%2FCtrlIndex)" >Cerrar Sesión</a >
      <ul>
        <li>
          <a routerLink="autogestiones-realizadas" class="nav__link"></a>
        </li>
        <li>
          <a routerLink="autogestiones-realizadas" class="nav__link" >!MUCHAS GRACIAS!</a>
        </li>
        
      </ul>
    </li>
  
  </ul>
</div>
<div class="user_logo">
  <img
    width="150"
    height="50"
    src="https://www.corantioquia.gov.co/wp-content/uploads/2021/09/logo_corantioquia.png"
    alt="logo"
  />
</div>
<div  class="iframe">
  <iframe 

  width="35%" 
  height="380" src="https://www.youtube.com/embed/D9wISQtYThY"  
  title="YouTube video player" frameborder="0" allow="accelerometer; 
  autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
