// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */

//@import '~swiper/swiper-bundle';

html,
body {
  overflow-x: hidden;
  
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(".//assets/img/20_ECO_Guillermo_Ossa_Jaguar\ \(Panthera\ onca\).jpg"); /* La imagen y su ruta */
  background-size: cover; /* Usamos cover para que nuestra imagen no se deforme al adaptarse a cada pantalla */
  background-position: center; /* Para centrar la imagen horizontal y verticalmente en el contenedor */
  background-repeat: no-repeat; /* Para que no repita la imagen */
  z-index: 2;
  padding: 0px;
  height: 800px;
  
}
