<!-- header template -->
<div class="header">
    <div class="header__content-wrapper">
      <div class="header__filename">
        <span>{{ fileName }}</span>
      </div>
      <div class="header__page-indicator">
        <span class="header__page-indicator-current">{{ currentPage }}</span>
        <span class="header__page-indicator-separator">/</span>
        <span class="header__page-indicator-total">{{ totalPages }}</span>
      </div>
      <div class="header__pdf-controls">
  <!--       <button
          class="header__btn"
          (click)="zoom('increment')"
          [disabled]="zoomAmt >= zoomMax"
        >
          zoom in
        </button>
        <button
          class="header__btn"
          (click)="zoom('decrement')"
          [disabled]="zoomMin >= zoomAmt"
        >
          zoom out
        </button>
        <button
        class="header__btn"
      >
      <a [href]="pdfSrc | domSeguro" download="Documento.pdf">Descargar Evidencia</a> 
      </button> -->
        
      </div>
    </div>
  </div>
  